.tag {
  background-color: $colour-primary;
  border-radius: $radius;
  min-width: 115px;
  min-height: 25px;
  padding: 7px 15px;
  color: white;
  text-align: center;

  @media screen and (max-width: $break-phone) {
    min-width: 84px;
    min-height: 18px;
    border-radius: $radius-min;
  }
}
