#Error {
  animation: 1s appear;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  text-align: center;

  h1 {
      font-size: 288px;
      font-weight: 700;
      line-height: 1;
  }

  a {
    margin-top: 120px;
    font-size: 18px;
    font-weight: 500;
    color: $colour-primary;
  }

  @media screen and (max-width: $break-phone) {
    gap: 10px;
    
    h1 {
      font-size: 96px;
    }

    a {
      font-size: 14px;
    }
  }
}