#Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    nav ul {
        list-style-type: none;
        display: flex;
        gap: 50px;

        a {
            font-size: 24px;
            font-weight: 500;
            color: $colour-primary;
            text-decoration: none;
        }

        .active {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: $break-phone) {
        svg {
            width: auto;
            max-height: 47px;
        }

        nav ul {
            gap: 10px;
    
            a {
                font-size: 12px;
            }
        }
    }
}