#Footer {
    background-color: black;
    width: 100vw;
    min-height: 200px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 35px;
    color: white;

    svg {
        width: auto;
        max-height: 40px;
        
        path {
            fill: white;
        }
    }

    h3 {
        margin: 0;
    }
}